*{
    font-family: cursive;
    margin: 0;
    padding: 0;

}
body{
    border: solid #E1E1E1 4px;

}
.card{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 40px;
}
.top{
    background-color: #17A2B8;
    height: 100px;
    width:100% ;
    position: absolute;
    top: 0;
    left: 0;
    flex: 1;
}
.bottom{
    margin-top: 140px;
    flex: 3;
}
.bottom *{
    margin: 4px;
}
.top img{
    height: 80px;
    position: relative;
    bottom: -60px;
    left: 40px;
    filter: invert(1);
    border: solid 4px white;
    outline: solid 4px black;
    border-radius: 50%;
}
.bottom img{
    width: 15px;
}
