*{
font-size: 100%;
}
body{
    margin-top: 60px;
}
body > *{
    margin: 20px 60px;

}
div:first-child button {
    color:#00D1B2;
    border:4px solid #00D1B2 ;
    border-radius: 40px;
    padding: 8px 60px;
    background-color: white;
}
#create_account button{
    color: white;
    background-color: #2B78E4;
    border: black solid 2px;
    box-shadow: 3px 3px black ;
}
#plus_button button{
    color:white;
    border-radius: 50% ;
    background-color: #00D1B2;
    border: none;
    font-size: 30px ;    
}