.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.nav-links{
    list-style : none;
    display:flex;
    gap : 20px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor:pointer
}